<template>
    <el-container id="Main">
        <el-aside id="Menu" width="200px">
          <Menu />
        </el-aside>
        <el-main>
          <router-view/>
          <!-- <keep-alive>
              <router-view v-if="$route.meta.keepAlive"></router-view>
          </keep-alive>
          <router-view v-if="!$route.meta.keepAlive"></router-view> -->
        </el-main>
    </el-container>
</template>
<script>
import Menu from '@/components/Menu';
export default {
    name: 'Main',
    components: {
        Menu,
    },
}
</script>
<style scoped>
#Menu{
    height: 100%;
}
</style>