<template>
  <div id="app">
    <Header />
    <router-view/>
  </div>
</template>
<script>
import Header from "@/components/Header";
export default {
  components: {
    Header,
  },
};
</script>

<style scoped>
/* 自定义的样式 */
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  user-select: none;
  height: 100%;
}
</style>

<style>
/* 修改element-ui的样式 */
.el-main {
  padding: 0px!important;
}
</style>