<!-- 简答题详情-->
<template>
  <div class="container-fiuled essayitem">
    <div class="row">
      <div class="col-md-1 title">题目难度:</div>
      <div class="col-md-5 text">{{}}</div>
    </div>

    <div class="row">
      <div class="col-md-1 title">题型:</div>
      <div class="col-md-2 text">{{}}</div>
    </div>

    <div class="row">
      <div class="col-md-1 title">题干:</div>
      <div class="col-md-2 text">{{}}</div>
    </div>

    <div class="row">
      <div class="col-md-1 title">答案:</div>
      <div class="col-md-2 text">{{}}</div>
    </div>

    <div class="row">
      <div class="col-md-1 title">解析:</div>
      <div class="col-md-2 text">{{}}</div>
    </div>
  </div>
</template>
<style>
.essayitem{
    text-align: left;
}
/* .title {
  border: 1px solid black;
}
.text {
  border: 1px solid black;
} */
</style>