<template>
    <div>
        <el-row id="problem-header-box">
            <el-col :span="12">
                <div id="search-box">
                    <el-input id="search-input" placeholder="搜索题目" v-model="searchValue" class="input-with-select">
                        <el-button id="search-button" slot="append" icon="el-icon-search"></el-button>
                    </el-input>
                </div>
            </el-col>
            <el-col :span="8" :offset="3">
                <el-tabs id="problem-menu" v-model="problemMenuValue" type="card">
                    <el-tab-pane label="题目" name="problem"></el-tab-pane>
                    <el-tab-pane label="新增题目" name="ProblemAdd"></el-tab-pane>
                </el-tabs>
            </el-col>
        </el-row>
        <el-row>
            <component :is="currentTabComponent" class="tab"></component>
        </el-row>
    </div>
</template>
<script>
import Problem from './Problem'
import ProblemAdd from './ProblemAdd'
export default {
    name: 'ProblemHeader',
    components: {
        'tab-problem' :Problem,
        'tab-addProblem' :ProblemAdd,
    },
    data(){
        return{
            problemMenuValue: "problem",
            searchValue:""
        }
    },
    computed: {
      currentTabComponent: function () {
        return 'tab-' + this.problemMenuValue
      }
    }
}
</script>
<style>
/* ProblemHeader */
/* #region */
#problem-header-box {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #dcdfe6 !important;
}

#search-box {
  margin-top: 30px;
  height: 40px;
}

#problem-menu {
  padding-top: 50px;
}

#problem-menu .el-tabs__header {
    padding: 0;
    position: relative;
    margin: 0 !important;
}

#problem-header-box .el-tabs--card > .el-tabs__header {
  border: none !important;
}

#problem-header-box .el-tabs__item.is-active {
  color: #545c64 !important;
  font-weight: 600;
}

#problem-header-box .el-tabs__nav-scroll {
  position: relative;
}
#problem-header-box .el-tabs__nav {
  float: right !important;
}
/* :deep(){

} */

/* #endregion */
</style>